<div id="tasker-medium-tile" class="hide" sizex="1" sizey="1" min-sizex="1" min-sizey="1" max-sizex="4" max-sizey="4">
    <div class="flipbox-container">
        <div class="flipbox">
            <div class="tile">
                {panel}
            </div>
        </div>
    </div>
</div>

<div id="tasker-medium-tile-recto" class="hide">
    <div class="header widget-title widget-title-background-alt">
        <i class="widget-title-icon fa fa-thumb-tack fa-2x"></i> {tasks_title}
    </div>
    <div class="content">
        <form class="form-inline task-form" role="form">
            <div class="form-group">
                <input id="task-caption-input" class="form-control" type="text" placeholder="<%= __('New task...') %>">
            </div>

            <a href="#" id="remove-finished-tasks" class="pull-right" rel="tooltip" title="<%= __('Remove finished tasks') %>"><i class="fa fa-trash-o fa-2x"></i></a>

            <div id="form-secondary" class="hide">
                <div class="form-group">
                    <input id="due-date-picker" class="form-control" type="text" placeholder="<%= __('Due date') %>">
                </div>
                <% if (user.isadmin) { %>
                <div class="checkbox">
                    <input id="task-url-input" class="form-control" type="text" placeholder="<%= __('Link to external page') %>">
                    <label>
                        <input id="input-publish-{id}" type="checkbox"> <%= __('Publish') %>
                    </label>
                </div>
                <% } %>
                <button type="submit" class="btn btn-task-add" rel="tooltip" title="<%= __('Save') %>"><i class="fa fa-plus fa-inverse"></i></button>
            </div>
        </form>
        <div class="widget-scrollbar task-list">
            <ul id="task-list-{id}" class="list-unstyled">
                {tasks}
            </ul>
        </div>
    </div>
</div>

<div id="tasker-medium-tile-task" class="hide">
    <li class="task-item {task_cls}" data-task-id="{task_id}">
        <span class="icon-finished {task_cls}" data-task-id="{task_id}"> </span>
        <span class="due-date {due_date_cls}">{due_date} <i class="fa fa-long-arrow-right"></i></span>
        <span data-task-id="{task_id}">{caption} <a href='{url}' target='_task' class="{url_cls}"><i class="fa fa-external-link"></i></a></span>
        <i class="{published_cls} fa fa-globe" rel="tooltip" title="<%= __('This task is published!') %>"></i>
    </li>
</div>
